main: # Все цифры написаны с потолка, все совпадения случайны
  bot_token: your_bot_token
  webhook_url_full: https://your_domain.lol/path/to/webhook
  webhook_url: /path/to/webhook
  host: 127.0.0.1
  port: 443
  admins: # админы чата
    - 4575635663464574565
    - 5674564564576643654
  allowed_chats: # это чтобы работали команды от имени чата
    - -100435345234233524634
    - -10035645534532746
    - -1008754634567868678
    - -100756646867867856
  blacklist:
    - 2452356543452624 # вроде как на них не действуют правила
    - 3475643533454756
  group_chatid: -10052525252
  rules_id: 35448
  nav_post_id: 35536
  thanks_post_id: 37084
  bot_path: /home/user # стирает путь в traceback
  suda_admins: admin usernames
  about_bot: |
    то что будет выводиться после команды /about
  rules: |
    <b>Правила чата:</b>

    <blockquote expandable>
    Напишите сюда свои правила
    </blockquote>
sqlite_adapter:
  dbname: data.db
url_filter:
  allowlist:
    - "youtu.be"
    - "youtube.com"
    - "tiktok.com"
    - "rutube.ru"
    - "www.youtube.com"
    - "www.youtu.be"
    - "www.tiktok.com"
    - "www.rutube.ru"
report:
  admin_userid: 52525252525 # Сюда будут приходить репорты
  bot_id: 52525255252
misc:
  admins_usernames: |
    <b>Админы:</b>
    Список админов....
  channel_id: -100525252525
  advert: |
    Обязательно прочитайте правила по команде: /rules
    Наш чат: <a href="chat_invite_link">тыкъ</a>
  nav_post: |
    Текст для навигационного поста
  thanks_post: |
    Текст для доски благодарностей